---
import { getDisciplineName } from "../../utils/discipline";
import { colors } from "../../utils/colors";
import CardWrapper from "../CardWrapper.astro";
import Talk from "../Talk.astro";
import { FavoriteButton } from "../button/favoriteButton/FavoriteButton";
import {
  getBorderColor,
  getCardColumn,
  getColorPair,
  getTalkDescription,
  getLocation,
  getSpeaker,
  isTalk,
} from "./functions";
import RenderSpeakerImage from "./RenderSpeakerImage.astro";
import type { ScheduleEntry } from "../../utils/schedule/types";
import Description from "../Description.astro";
import { Image } from "astro:assets";
import talkArrow from "../../../public/assets/icons/talkArrow.svg";
import Discipline from "../discipline/Discipline.astro";
import { Live } from "../live/Live";

interface Props {
  event: ScheduleEntry;
  span: number;
}

const { event, span } = Astro.props;
const { id, title, to, from } = event;

const speaker = getSpeaker(event);
const location = getLocation(event);
const colorPair = getColorPair(event);
const talkDescription = getTalkDescription(event);
const borderColor = getBorderColor(colorPair);
const column = getCardColumn(colorPair);

const shouldRenderDescription = span > 1;

const talkArrowWidth = 52;
const talkArrowHeigth = 52;
---

<CardWrapper
  id={id}
  borderColor={borderColor ? borderColor : colors.text.primary}
  span={span}
  column={column}
>
  <div class="speaker_card__wrapper">
    {
      isTalk(event) ? (
        <a href={`talks/${id}`} class="speaker_card__link" id={id}>
          <Image
            layout="responsive"
            class="speaker_card__link__img"
            src={talkArrow}
            alt=""
            width={talkArrowWidth}
            height={talkArrowHeigth}
          />
          {speaker && <RenderSpeakerImage speakerName={speaker} />}
          <Talk speakerName={speaker} title={title} />
          <span class="speaker_card__hover_background" />
        </a>
      ) : (
        <>
          {speaker && <RenderSpeakerImage speakerName={speaker} />}
          <Talk speakerName={speaker} title={title} />
        </>
      )
    }

    <Description
      talkDescription={talkDescription}
      displayCondition={shouldRenderDescription}
    />
    <div class="speaker_card_live">
      <Live client:load event={event} />
    </div>
    <div class="speaker_card__flex">
      <div class="speaker_card__flex__labels">
        <Discipline>{`${location} ${from}-${to}`}</Discipline>
        {
          event.type === "talk" && speaker && (
            <Discipline colorPair={colorPair}>
              {getDisciplineName(event.discipline)}
            </Discipline>
          )
        }
      </div>
      <FavoriteButton client:load id={id} title={title} />
    </div>
  </div>
</CardWrapper>

<style is:global define:vars={{ borderColor }}>
  .speaker_card__wrapper {
    height: 100%;
    display: grid;
    grid-template-areas:
      "img"
      "location"
      "description";

    gap: var(--Padding-m);
    grid-auto-rows: min-content; /* Makes rows only as tall as their content */

    container-type: inline-size;
    container-name: cardContent;
  }

  .speaker_card__wrapper:not(:has(.render_speaker_image__speaker_img))
    .talk__text {
    background-color: var(--background-dark);
    color: var(--text-primary-on-dark);
  }

  .speaker_card__wrapper:not(:has(.render_speaker_image__speaker_img)) .talk {
    max-width: 100%;
  }

  .speaker_card__link {
    display: grid;
    grid-area: img;
  }

  .speaker_card_live {
    display: grid;
    grid-area: img;
    width: fit-content;
  }

  .speaker_card__link:hover .talk p {
    color: var(--text-primary-on-dark);
    background-color: transparent;
    position: relative;
    z-index: 1;
  }

  .speaker_card__hover_background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 0;
    background-color: var(--borderColor);
    opacity: 0.8;
    left: 0;
    top: 0;

    transition: height 0.4s;
  }

  .speaker_card__link:hover .speaker_card__hover_background {
    height: 100%;
  }

  .speaker_card__link__img {
    grid-area: img;
    justify-self: end;
    align-self: start;
    z-index: 0;

    @media (min-width: 1000px) {
      display: none;
    }
  }

  .talk {
    grid-area: img;
    align-self: end;
  }

  .speaker_card__flex {
    grid-area: location;
    display: flex;
    height: fit-content;
    align-items: end;
    align-self: end;
    justify-content: space-between;
  }

  .speaker_card__flex__labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  @container (width > 650px) {
    .speaker_card__wrapper:has(img) .talk__text {
      font-size: var(--Font-size-H2);
      line-height: var(--Line-Height-H2);
    }

    .speaker_card__wrapper:has(img) .talk {
      max-width: 650px;
    }
  }

  @container (width < 650px) {
    .speaker_card__wrapper:has(img) .talk {
      max-width: 285px;
    }
  }
</style>
