---
import TalkLayout from "../../layouts/Layout.astro";
import { type ColorPair, colorPairs } from "../../utils/colors";
import {
  getDisciplineColorPair,
  getDisciplineName,
} from "../../utils/discipline";
import { schedule, type Talk } from "../../utils/schedule";
import { FavoriteButton } from "../../components/button/favoriteButton/FavoriteButton";

/* const talks: Talk[] = [
  {
    id: "1",
    title:
      "Driving Transformation in Technology, Processes, and Governance for the National Road Database",
    location: "No. 314",
    from: "10:00",
    to: "10:40",
    speaker: "Malin C. Karlsen & Anders Hammervold",
    speakerDescription:
      "Anders is Chief Commercial officer in Variant, Key Account manager for Statens vegvesen and has also worked in different projects in Statens vegvesen as project manager.  Malin is a project manager in Variant Trondheim, and has been working in projects for Statens vegvesen for 4 years out of the last 5. ",
    discipline: "Strategy & Product",
    description:
      "This session provides the outlines on how we, in collaboration with the Norwegian Public Roads Administration (Statens vegvesen), established a transformative program addressing both technology and processes for the National Road Database (Nasjonal vegdatabank). We will explore key questions that shaped the program: ...",
  },
]; */

const exampleDescription =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
const exampleSpeakerDescription =
  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo";

function getTalkById(talkId: string): Talk | undefined {
  const allTalks: Talk[] = schedule
    .flatMap((block) => block.tracks.flat())
    .filter((scheduleEntry) => scheduleEntry.type === "talk");

  return allTalks.find((t) => t.id === talkId);
}

const { talk: talkId } = Astro.params;

if (talkId === undefined) {
  return Astro.redirect("/404");
}

const talk = getTalkById(talkId);

if (talk === undefined) {
  return Astro.redirect("/404");
}

const colorPair = getDisciplineColorPair(talk.discipline);

const disciplineBackgroundColor = colorPair.color;
const disciplineTextColor = colorPair.textColor;
---

<TalkLayout>
  <a class="schedule_link" href="/schedule">
    <span class="left_arrow">↓</span>
    <span class="link_text">Full schedule</span>
  </a>
  <main>
    <section>
      <h1>
        {talk.title}
      </h1>
      <div id="flaff">
        <div id="talk_details">
          <p class="chip" id="time_and_location">
            {`${talk.location} ${talk.from}-${talk.to}`}
          </p>
          <p class="chip" id="discipline">
            {getDisciplineName(talk.discipline)}
          </p>
          <FavoriteButton id={talk.id} talkTitle={talk.title} />
        </div>
        <p>
          {exampleDescription}
        </p>
      </div>
      <div id="author_section">
        <div id="images">
          <img
            src="/assets/img/people/Malin-C.-Karlsen.jpg"
            class="author_image"
            alt="Malin C. Karlsen"
          />
          <img
            src="/assets/img/people/Anders-Hammervold.jpg"
            class="author_image"
            alt="Anders Hammervold"
          />
        </div>
        <div id="author_description">
          <p id="author_title">{talk.speaker}</p>
          <p>{exampleSpeakerDescription}</p>
        </div>
      </div>
    </section>
  </main>
</TalkLayout>

<style define:vars={{ disciplineBackgroundColor, disciplineTextColor }}>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Padding-xl);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--Padding-xl);
    max-width: 870px;
  }

  h1 {
    font-size: var(--Font-size-H2);
  }

  .left_arrow {
    transform: rotate(90deg);
    font-size: 3.2rem;
    font-weight: 600;
  }

  .schedule_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
  }

  .link_text {
    font-size: var(--Font-size-H3);
  }

  #talk_details {
    display: flex;
    align-items: center;
    gap: var(--Padding-l);
  }

  #flaff {
    display: flex;
    flex-direction: column;
    gap: var(--Padding-l);
    width: 650px;
  }

  p {
    font-size: var(--Font-size-Body-Big);
    line-height: var(--Line-height-Body-Big);
    font-weight: 300;
  }

  .chip {
    font-size: var(--Font-size-H4);
    font-weight: 450;
    line-height: var(--Line-height-H4);
    border-radius: 2.5rem;
    padding: var(--Padding-xs) var(--Padding-s);
    border-radius: 2rem;
  }

  #time_and_location {
    border: 1px solid;
  }

  #discipline {
    background: var(--disciplineBackgroundColor);
    color: var(--disciplineTextColor);
  }

  #author_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Padding-m);
    width: 650px;
  }

  #images {
    display: flex;
    align-items: center;
    gap: var(--Padding-rem);
  }

  .author_image {
    /* width: 400px; */
    height: 408.284px;
    width: 316.5px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.8rem;
  }

  #author_title {
    font-size: var(--Font-size-H3);
  }

  #author_description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
</style>
