---
import { colors, type ColorPair } from "../utils/colors";
import CardWrapper from "./CardWrapper.vue";
import Discipline from "./Discipline.astro";
import Talk from "./Talk.astro";

interface Props {
  speakerName?: string;
  talk: string;
  colorPair?: ColorPair;
  discipline: string;
}

const { speakerName, talk, colorPair, discipline } = Astro.props;

const formattedNames = speakerName
  ? speakerName.split(" & ").map((name) => name.split(" ").join("-"))
  : undefined;
---

<CardWrapper
  borderColor={colorPair ? colorPair.color : colors.text.primary}
  height={speakerName ? "398px" : "auto"}
>
  <div class="speaker_card__wrapper">
    <div class="speaker_card__img_flex">
      {
        formattedNames &&
          formattedNames.map((name) => {
            const imgSrc = `/assets/img/people/${name}.svg`;
            const altText = name.replaceAll("-", " ");
            return (
              <img
                class="speaker_card__speaker_img"
                src={imgSrc}
                alt={altText}
              />
            );
          })
      }
    </div>
    <Talk speakerName={speakerName} talk={talk} />
    <div class="speaker_card__flex">
      <Discipline>{discipline}</Discipline>
    </div>
  </div>
</CardWrapper>

<style is:global>
  .speaker_card__wrapper {
    display: grid;
    grid-template-areas:
      "img"
      "location";
    gap: var(--Padding-m);

    container-type: inline-size;
    container-name: cardContent;
  }

  .speaker_card__wrapper:not(:has(.speaker_card__speaker_img)) .talk__text {
    background-color: var(--background-dark);
    color: var(--text-primary-on-dark);
  }

  .talk {
    grid-area: img;
    align-self: end;
  }

  .speaker_card__img_flex {
    grid-area: img;
    justify-self: end;
    display: flex;

    max-width: 338px;

    & > img {
      overflow: hidden;
      width: 100%;
    }
  }

  .speaker_card__flex {
    grid-area: location;
    display: flex;
    height: fit-content;
    align-items: end;
    justify-content: space-between;
  }

  @container (width > 650px) {
    .speaker_card__wrapper:has(img) .talk__text {
      font-size: var(--Font-size-H2);
    }

    .speaker_card__wrapper:has(img) .talk {
      max-width: 650px;
    }
  }

  @container (width < 650px) {
    .speaker_card__wrapper:has(img) .talk {
      max-width: 285px;
    }
  }
</style>
