---
import { type ColorPair } from "../utils/colors";
import CardWrapper from "./CardWrapper.vue";
import Discipline from "./Discipline.astro";
import Talk from "./Talk.astro";

interface Props {
  speakerName?: string;
  talk: string;
  colorPair: ColorPair;
  discipline: string;
}

const { speakerName, talk, colorPair, discipline } = Astro.props;

const formattedNames = speakerName
  ? speakerName.split(" & ").map((name) => name.split(" ").join("-"))
  : undefined;
---

<CardWrapper maxWidth="412px" height={speakerName ? "398px" : "auto"}>
  <div class="speaker_card__wrapper">
    <div class="speaker_card__img_flex">
      {
        formattedNames &&
          formattedNames.map((name) => {
            const imgSrc = `/assets/img/people/${name}.svg`;
            const altText = name.replaceAll("-", " ");
            return <img src={imgSrc} alt={altText} />;
          })
      }
    </div>
    <Talk colorPair={colorPair} speakerName={speakerName} talk={talk} />
    <div class="speaker_card__flex">
      <Discipline>{discipline}</Discipline>
    </div>
  </div>
</CardWrapper>

<style is:global>
  .speaker_card__wrapper {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.3rem;

    container-type: inline-size;
    container-name: cardContent;
  }

  @container (width > 650px) {
    .speaker_card__wrapper:has(img) .talk__text {
      font-size: var(--Font-size-H2);
    }

    .speaker_card__wrapper:has(img) .talk {
      max-width: 650px;
    }
  }

  @container (width < 650px) {
    .speaker_card__wrapper:has(img) .talk {
      max-width: 285px;
    }
  }

  .speaker_card__img_flex {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    & > img {
      overflow: hidden;
      width: 100%;
    }
  }

  .speaker_card__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
