---
import { type Track } from "../utils/schedule";
import SpeakerCard from "./SpeakerCard.astro";

interface Props {
  track: Track;
}
const { track } = Astro.props;
---

<div class="track">
  {
    track.map((talk) => {
      return (
        <SpeakerCard
          id={talk.id}
          speakerName={talk.speaker}
          colorPair={talk.color}
          talk={talk.title}
          discipline={`${talk.location} ${talk.from}-${talk.to}`}
        />
      );
    })
  }
</div>

<style>
  .track {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 1rem;

    @media (max-width: 1300px) {
      > div:nth-last-child(1) {
        grid-column: 1 / -1;
      }
    }

    @media (max-width: 430px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
</style>
