---
import "../styles/global.css";
import Footer from "../components/navigation/Footer.astro";
import Navbar from "../components/navigation/Navbar.astro";
import Meta from "../components/meta/Meta.astro";
import type { MetaProps } from "../components/meta/types";

interface Props extends MetaProps {
  layoutGap?: string;
}

const { layoutGap, title, description, keywords, image, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Meta
    title={title}
    description={description}
    keywords={keywords}
    image={image}
    url={url}
  />
  <body>
    <Navbar />
    <main>
      <slot />
      <Footer variant="black" />
    </main>
  </body>
</html>

<style define:vars={{ layoutGap }}>
  main {
    background-color: var(--background-primary);
    padding: var(--Padding-xxl) 4rem;

    gap: var(--layoutGap, 1rem);

    @media (max-width: 530px) {
      padding: var(--Padding-xxl) var(--Padding-rem);
      gap: 1rem;
    }
  }
</style>
