---
import "../styles/global.css";
import Navbar from "../components/navigation/Navbar.astro";
import Meta from "../components/Meta.astro";

interface Props {
  id: string;
  title: string;
  description: string;
}

const { id, title, description } = Astro.props;
const originUrl = Astro.url.origin;
const ogImageURL = new URL(`/talks/${id}/${id}-og.png`, originUrl).href;
---

<!doctype html>
<html lang="en">
  <Meta
    title={title}
    description={description}
    keywords="Refill 2025, conference, tech conference, workshops, networking, Variant, Stockholm, talks"
    image={ogImageURL}
    url={`https://www.refillconf.com/talks/${id}`}
  />
  <body>
    <Navbar />
    <main>
      <slot />
      <slot name="footer" />
    </main>
  </body>
</html>
